[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
sqlalchemy = "*"
jupyter = "*"
notebook = "*"
ipython-sql = "*"
pandas = "*"
h5py = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
